.main {
    justify-content: center;
    gap: 50px;
    background-color: rgb(24, 23, 20);
}

/* LINKS TO PAGES AT END OF EACH MAIN SECTION */
.page-nav-btn {
    justify-self: center;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: inherit;
    border: solid 1px rgba(255, 255, 255, 0.614);
    transition: 0.4s;
}

.page-nav-btn:hover {
    cursor: pointer;
    border-color: white;
    box-shadow: 1px 1px 3px goldenrod, 0 0 2px goldenrod, 0 0 10px lightpink;
}