/* MAIN - PROJECTS */
.main-projects {
    grid-template-rows: 100px 1fr auto;
    padding: 110px 150px 50px 150px;
    gap: 20px;
    height: 100%;
    border-bottom: solid 5px rgba(128, 128, 128, 0.47);
}

/* PROJECT HEADER */
.main-projects--header {
    font-size: 70px;
    text-decoration: underline 4px;
}

/* PROJECT CONTAINER */
.main-projects--container {
    grid-auto-rows: auto;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    /* border: solid 1px rgba(255, 255, 255, 0.719); */
    border-radius: 5px;
    /* box-shadow: 0 0 2px blue, 0 0 2px blue, 0 0 12px white; */
}

/* INDIVIDUAL PROJECT DISPLAY */
.main-projects--project {
    grid-template-areas: 
    "header header"
    "left right";
    grid-template-rows: 70px 1fr;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.67);
}

/* INFO */
.project-info--header {
    grid-area: header;
    font-size: 26px;
    align-self: center;
    padding: 20px 20px;
    margin: 0 30px 10px 30px;
    transition: 0.6s;
}

.left-header {
    justify-content: start;
    animation-timeline: view();
    animation-name: left-header-animation ;
    animation-duration: 1s;
}

@keyframes left-header-animation {
    0% {
        padding-left: 20px;
        opacity: 0;
        box-shadow: 1px 1px 10px white, 1px 1px 10px blue, 0 0 10px white;
    }
    40% {
        padding-left: 120px;
    }
    100% {
        padding-left: 120px;
        opacity: 1;
        box-shadow: 1px 1px 3px cyan, 0 0 10px blue, 0 0 10px green;
    }
}

.right-header {
    justify-content: end;
    animation-timeline: view();
    animation-name: right-header-animation ;
    animation-duration: 1s;
}

@keyframes right-header-animation {
    0% {
        padding-right: 20px;
        box-shadow: 1px 1px 10px white, 1px 1px 10px blue, 0 0 10px white;
        opacity: 0;
    }
    40% {
        padding-right: 120px;
    }
    100% {
        padding-right: 120px;
        opacity: 1;
        box-shadow: 1px 1px 3px cyan, 0 0 10px blue, 0 0 10px green;
    }
}

.project-info {
    animation-timeline: view();
    animation-name: project-fade-in-animation;
    animation-duration: 1s;
}

.project-info:nth-child(odd) {
    grid-template-columns: 150px 1fr;
    padding: 20px 10px;
}

.project-info:nth-child(even) {
    grid-template-columns: 1fr 150px;
    padding: 20px 10px;
}

.project-info--description {
    grid-template-rows: 30px 1fr 40px;
    gap: 10px;
    font-size: 20px;
    justify-items: center;
    text-align: center;
    padding: 10px 30px;
}

.project-info--description--link {
    text-decoration: underline;
    font-size: 22px;
    font-weight: bold;
    padding-top: 20px;
}

.project-info--description--link:hover {
    color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
}

/* TECH LIST */
.project-info--tech {
    grid-template-rows: 30px 1fr;
    gap: 50px;
    justify-items: center;
    padding: 10px;
    border-right: solid 1px rgba(255, 255, 255, 0.67);
    border-left: solid 1px rgba(255, 255, 255, 0.67);
}

.project-info--tech-header {
    font-size: 18px;
    height: fit-content;
}

.project-info--tech-list {
    list-style-type: '✅ ';
    list-style-position: inside;
}

/* PROJECT IMAGE */
.project-image--container {
    grid-template-rows: 1fr 30px;
    gap: 20px;
    place-items: center;
    padding: 20px 20px 20px 30px;

    animation-timeline: view();
    animation-name: project-fade-in-animation;
    animation-duration: 1s;
}

.project-image--image {
    border-radius: 20px;
    margin-top: 50px;
    transition: 0.9s;
}

.project-image--image:hover {
    transform: scale(1.2) translateY(-60px);
}

/* GITHUB LINK */
.project-image--github-link-container {
    grid-template-columns: repeat(2, auto);
    place-items: center;
    gap: 10px;
    transition: 0.2s;
}

.project-image--github-link {
    font-size: 22px;
    font-weight: bold;
}

.project-image--github-link-container:hover {
    cursor: pointer;
    background-color: rgb(30, 143, 255);
    border-radius: 20px;
    padding: 6px 25px;
}

.project-image--github-link-container:hover .github-link-logo {
    animation: 0.4s linear 0s 1 alternate slide-right;
}

.project-image--github-link-container:hover .project-image--github-link {
    animation: 0.4s linear 0s 1 alternate slide-left;
}

@keyframes slide-right {
    from {
      transform: translateX(12px);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-left {
    from {
      transform: translateX(-12px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes project-fade-in-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1420px) {
    .main-projects {
        padding: 110px 100px 50px 100px;
    }
}

@media screen and (max-width: 1100px) {
    .main-projects {
        padding: 110px 20px 50px 20px;
    }
}