/* OVERVIEW */
.overview {
    padding: 20px 150px 50px 150px;
    border-bottom: solid 5px rgba(128, 128, 128, 0.47);
}

.overview-container {
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
}

.overview-left {
    grid-template-rows: repeat(2, auto);
    border-right: solid 1px rgba(128, 128, 128, 0.47);
    padding: 20px 50px;
    gap: 10px;
    place-content: center;
}

.overview-right {
    padding: 20px 50px;
    place-content: center;
}

/* OVERVIEW HEADER */
.overview-header-container {
    grid-template-rows: 100px 50px;
    gap: 16px;
    animation: 0.5s linear 0s 1 normal slide-in-from-left;
    justify-items: center;
}

.overview-header {
    font-size: 90px;
    align-items: end;
}

.overview-job-header {
    font-size: 40px;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}

/* OVERVIEW PROFILE PHOTO */
.profile-photo-container {
    background-color: #E9F1F1;
    align-self: center;
    border-radius: 10px;
    width: 450px;
    margin-top: 50px;
    animation: 0.5s linear 0s 1 normal slide-in-from-left;
}

.profile-photo {
    object-fit: cover;
    justify-self: end;
    border-radius: 10px;
}

/* OVERVIEW QUICK LINKS */
.overview-quick-links {
    grid-auto-rows: auto;
    gap: 25px;
    color: white;
    height: fit-content;
    animation: 0.5s linear 0s 1 alternate slide-in-from-right;
}

.overview-quick-links > a {
    justify-content: center;
    width: 150px;
    border: solid 1px rgba(247, 181, 181, 0.295);
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
    transition: 0.8s;
    justify-self: center;
}

.overview-quick-links > a:hover {
    border-color: white;
    box-shadow: 1px 1px 3px goldenrod, 0 0 2px goldenrod, 0 0 10px lightpink;
    margin-left: 70px;
    transition-timing-function: ease;
}

/* OVERVIEW TEXT */
.overview-text-container {
    max-width: 500px;
    animation: 0.5s linear 0s 1 alternate slide-in-from-right;
}

.overview-text {
    font-size: 22px;
}

@keyframes slide-in-from-right {
    from {
        opacity: 0;
      transform: translateX(500px);
    }
    to {
        opacity: 100%;
      transform: translateX(0);
    }
  }

  @keyframes slide-in-from-left {
    from {
        opacity: 0;
      transform: translateX(-500px);
    }
    to {
        opacity: 100%;
      transform: translateX(0);
    }
  }

/* MEDIA QUERIES */
@media screen and (max-width: 1420px) {
    .overview {
        padding: 20px 100px;
        height: fit-content;
    }
}

@media screen and (max-width: 1220px) {
    .overview {
        padding: 20px 0;
    }
}

@media screen and (max-width: 1020px) {
    .overview-left, .overview-right {
        padding: 20px 10px;
    }

    .overview-quick-links, .overview-text-container {
        margin-left: 0;
    }
}