.footer {
  background-color: #282c34;
  height: 150px;
  padding: 10px 20px;
  justify-content: start;
  align-content: center;
}

.jump-to-top-btn {
  border-radius: 8px;
  color: white;
  padding: 15px 25px;
  background-color: #556cd6;
  border: solid 1px #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}

.jump-to-top-btn:hover {
  cursor: pointer;
  color: #add8e6;
  background-color: #4051b5;
  transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
  .footer {
    justify-content: center;
  }
}
