.header {
    grid-template-columns: 200px 1fr;
    align-items: center;
    height: 100px;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    background-color: rgb(21, 21, 21);
    z-index: 1;
}

.logo {
    color: whitesmoke;
}

.logo:hover {
    cursor: pointer;
}

.header-nav {
    justify-items: end;
}

.header-nav-list {
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    font-size: 24px;
}

.header-about-me:hover {
    color: white;
    text-shadow: 2px 2px 5px green, 2px 2px 7px green, 0 0 10px greenyellow;
    cursor: pointer;
}

.header-projects:hover {
    color: white;
    text-shadow: 2px 2px 5px dodgerblue, 2px 2px 7px blue, 0 0 10px darkblue;
    cursor: pointer;
}

.header-contact:hover {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 5px red, 2px 2px 7px red, 0 0 10px darkred;
    cursor: pointer;
}